body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  text-align: center;
  color: #cccccc
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.question-card {
  border: 1px solid gray;
  background-color: lightgray;

}

.code-image {
  max-width: 500px;
  max-height: 500px;
}

.filter {
  color: #cccccc
}

.App {
  padding-bottom: 32px;
}